### Javascript specific ###
node_modules
.DS_Store
.env
.env.dev
.env.sit
.env.dtcapi*
.env.acc
.env.prod
.env.preprod
.env.dtcapi*
apps/**/.env.local
apps/**/.env.test
apps/**/.env.local*
apps/**/.next
apps/**/build
apps/**/next-env.d.ts
site
**/.test-results
**/out

### Java specific ###
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/.mvn
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

dist
binaries
user_input.log
tmp

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.cursorignore
.cursorindexingignore

### machfeast-cli ###
machfeast-cli-*

### Terraform ###
.terraform
.terraform*
*.tfvars

### Lighthouse ###
.lighthouseci

### jest-junit ###
.cli/test-results
.cli/coverage

### Secrets ###
*.pem

### Storybook ###
storybook-static
build-storybook.log

### Misc ###
.npmrc
yarn.lock
http-client.private.env.json
